<div class="uk-container uk-container-large">
    <h1 class="pageTitle">Nema's Magic</h1>
    <hr>
    <p>Inside this book you will share treasured moments between a grandparent, NEMA, and her
        grandchildren. Love Is the magic in all Tamily relationships. It starts with experiencing everyday Tun
        Ever time we learn something new, we create lasting memories. Nema shares the magic in these
        momenls</p>
    <a mat-raised-button target="_blank" color="secondary"
        href="https://www.google.com/books/edition/Nema_s_Magic/XTJBDwAAQBAJ?hl=en&gbpv=1&printsec=frontcover">Read an
        Excerpt</a>
    <a mat-raised-button target="_blank" color="primary"
        href="https://www.amazon.com/Nemas-Magic-Barbara-Donnellan/dp/1483475514">Order
        a Copy Now</a>

    <img src="assets/book/3d-book.png" alt="Ocean of Hope" height="100" />


    <h1 class="pageTitle">Book Review's For Nema's Magic</h1>
    <hr>
    <p>The bond between grandparents and grandchildren is unique and vitally important for both generations. Nema's
        Magic beautifully
        highlights the shared experiences that make this relationship so special, and subtly helps children understand
        that the magic - the love -
        lives on. even when our loved ones pass or
        - Amy Goyer, Nationally Recognized Grandparenting Expert</p>

    <p>"Nema's Magic" by new writer Barbara Donnellan is, in a word, magical. Donnellan's sensitive and loving story
        about the loss of a loved one
        celebrates that greatest gift of all, memories of a life well lived. Suitable for young children and family
        reading, the book is beautifully
        illustrated, by award winning Michael Garland, and the story told through activities young children will easily
        relate to - gardening, singing
        and dancing and going to the beach with grandmother, the Nema of the story. A poignant reminder that when a
        cherished loved one is
        gone, her spirit remains through the love of life she shared with her grandchildren.
        - Diane Kresh, Director, Arlington (VA) Public Library</p>


    <p>While she was a gift to everyone who knew her, Nema was a special gift to her grandchildren-and to the earth
        they
        will inherit.
        Reconnecting humans--young and old-with the living world is perhaps as vital as anything we can do. Nema knew
        that
        unless we all come
        to understand how our fate is linked to the fate of the soil and the living organisms it supports, our
        children's
        grandchildren will not have a
        planet fit to play on.
        - 0an Dye GussoW, Ed.D. Protessor emerita of nutrition and education.</p>

    <h1>Reactions from two of Nema's grandchild:</h1>
    <p>"Nema is always smiling down on us"
        "I loved to eat tomatoes with Nema'...six-year old Grace
        "Grandma watched me play sports right? ...six-year old Miles</p>

    <h1>Order Now</h1>
    <ul>
        <li>ISBN 13 (SOFT): 9781483475516</li>
        <li>ISBN 13 (HARD): 9781483475523</li>
    </ul>
</div>