<mat-toolbar>
    <span routerLink='home' class="nameBar">
        <img src="assets/photos/barbara_logo.png" alt="Barbara's Logo">
    </span>

    <div class='spacer'></div>

    <div class="toolbarMenu">
        <a mat-button routerLink='home'>Home</a>
        <a mat-button routerLink='book'>Book</a>
        <a mat-button routerLink='art'>Art Gallery</a>
        <a mat-button routerLink='consultating'>Consultating</a>
        <a mat-raised-button href='mailto:barbaradonnellan007@gmail.com' color="accent">Contact</a>
    </div>

    <div class="dropDownMenu">
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu class="dropDownMenu" #menu="matMenu">
            <button mat-menu-item routerLink='home'>
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button mat-menu-item routerLink='book'>
                <mat-icon>menu_book</mat-icon>
                <span>Book</span>
            </button>
            <button mat-menu-item routerLink='art'>
                <mat-icon>brush</mat-icon>
                <span>Art Gallery</span>
            </button>
            <button mat-menu-item routerLink='consultating'>
                <mat-icon>business_center</mat-icon>
                <span>Consultating</span>
            </button>
            <button mat-menu-item href='mailto:barbaradonnellan007@gmail.com'>
                <mat-icon>contact_page</mat-icon>
                <span>Contact</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>