<div class="uk-container uk-container-large">
    <h1 class="pageTitle">Barbara's Art Gallery</h1>
    <hr>
    <div class="container">
        <div class="uk-child-width-1-3@m uk-grid" uk-grid>
            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/ocean_of_hope.png" alt="Ocean of Hope" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/ocean_moon.png" alt="Ocean Moon" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/jumping_in_rain.png" alt="Jumping in the rain" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/blue_wave.png" alt="Blue Wave" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/cherry_blossum.png" alt="Cherry Blossum" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/beach.png" alt="Beach" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/fall_scene.png" alt="Fall Scene" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/field_of_deer.png" alt="Field of deer" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/dog.png" alt="Dog on kayak" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/stoneyman.png" alt="Stoneyman Valley Ranch" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/blurry_road.png" alt="Blurry Road" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/wild_rabbit.png" alt="Wild Rabbit" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/spring_flowers.png" alt="Spring Flowers" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/easter_bunny.png" alt="Easter Bunny" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/corolla_nc_sunset.png" alt="Corolla, NC Sunset" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>

            <div class="uk-card uk-card-muted">
                <div class="uk-card-media-top">
                    <img src="assets/artwork/cherry_blossum_dc.png" alt="Cherry Blossums DC" height="100" />
                </div>
                <div class="uk-card-body"></div>
            </div>
        </div>
    </div>