<div class="uk-container uk-container-large">
    <div class="container">
        <h1>Hi, my name is</h1>
        <h2>Barbara Donnellan.</h2>
        <h3 class="pageTitle">
            I'm <ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter>
        </h3>
        <p>
            <markdown ngPreserveWhitespaces>
                Barbara McCarthy Donnellan is a CEO of her own consulting firm and a retired award-winning senior
                government executive. She
                previously served as Library Director for one of the nation's leading counties, <a
                    href="https://www.arlingtonva.us/Home">Arlington, VA.</a> Barbara is the recipient
                of numerous leadership awards
                including the Leadership Greater Washington "Volunteer of the Year Award" for her work with youth
                leadership. She is married, sister to six
                siblings, aunt to 31 and great-aunt to 42. Barbara holds a BA and MA from <a
                    href="https://www.stjohns.edu/">St. John's University.</a>
            </markdown>
        </p>
        <img src="assets/photos/barbara_donnellan_beach.jpg" alt="Photo of Barbara Donnellan." />
        <hr>
    </div>
</div>