<div class="uk-container uk-container-large">
    <div class="container">
        <h3>Barbara Donnellan</h3>
        <hr>
        <p>
            <markdown ngPreserveWhitespaces>
                Barbara Donnellan is President and CEO of Castle Gray Associates, LLC, a consulting firm specializing in
                coaching, leadership development, and governmental affairs.

                After a 32-year career with <a href="https://www.arlingtonva.us/Home">Arlington County</a>, the
                transition to Castle Gray Associates utilized the
                skills and abilities Donnellan honed over a career in government. Working with non-profits, helping to
                solve complex regional issues, and coaching senior executives seemed a natural fit.

                Donnellan was a long-term career employee with Arlington County, holding positions in Finance,
                Libraries, Economic Development, Chief Financial Officer, Deputy County Manager, and then County
                Manager, becoming Arlington’s first female chief executive officer.

                It was a progressively responsible career in which Donnellan took on key projects and responsibility.
                While County Manager, she successfully implemented nationally recognized Smart Growth planning policies,
                sound financial policies – that earned Arlington Country its triple-triple-A bond rating – and other
                policies and programs that gave the County national and international prominence as a first-class place
                to live and work.

                Early work and volunteering included the City of New York, OMB (Office of Management and Budget) and
                work on congressional and vice-presidential campaigns (Geraldine A. Ferraro).

                Ms. Donnellan holds a B.A. in Public Administration and M.A. in Government and Politics, from <a
                    href="https://www.stjohns.edu/">St. John's University.</a>, New York. She also has a Graduate
                Certificate in Public Administration from St. John's
                University. Donnellan attended the University of Virginia Weldon Cooper Center for Leadership.

                Among her many recognitions, awards, and proclamations, Barbara was recognized by Leadership Greater
                Washington for her work with Youth Leadership Washington and also by Leadership Arlington for Public
                Service leadership.

                Ms. Donnellan was on the Arlington County Retirement Board from 1999 – 2010 and was again reappointed in
                2018 and 2021 a position she currently holds. Barbara has been a board member on the Virginia Resources
                Authority since 2003, appointed by six Governors. Barbara also serves on the St. John’s University Board
                of Trustees.

                Barbara published her first Children’s Book Nema’s Magic, in honor of her late sister.

                Barbara, and her husband Kevin, also a St. John’s University alumni, resides in Clifton, Virginia.
            </markdown>
        </p>
        <img src="assets/photos/barbara_donnellan_beach.jpg" alt="Photo of Barbara Donnellan." />
        <hr>
    </div>
</div>